body, html{
  padding: 0px;
  margin: 0px;
  overflow-x: hidden !important;
  font-family: 'Roboto',Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a, a:visited, a:focus{
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.main-header{
  height: 80px;
  background-color: #3e3e3e;
}
.main-header .logo-wrapper, .main-header .nav-link, .main-footer .logo-wrapper, .main-footer .nav-link{
  display: inline-block;
}
.nav-link ul {
  margin: 0px;
}
.main-header li, .main-footer li{
  display: inline-block;
}
.body{
  min-height: calc(100vh - 130px);
}
.main-footer{
  height: 50px;
}